body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#background-video {
    position: fixed;
    right: 50;
    bottom: 50;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}


.container {
    background-color: black; /* Black background with 80% opacity */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 4px solid gold; /* Golden border */
    text-align: center;
    width: 500px;
    
}
#logo {
    width: 120px; /* Adjust width as necessary */
    height: auto;
    margin-bottom: 10px; /* Space between the logo and heading */
}

h1 {
    text-align: center;
        color: rgba(124, 122, 122, 0.94);
        font-family: Trattatello, fantasy;
        font-weight: 75;
        font-stretch: ultra-expande;
}
p {
    margin-bottom: 20px;
    color: white;
}

label {
    font-weight: bold;
    color: white;
}

#language {
    margin-bottom: 20px;
    padding: 5px;
    background-color: gold; /* Golden background */
    color: black; /* Black text */
    border: 2px solid rgb(13, 13, 14);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#start-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: gold; /* Golden background */
    color: black; /* Black text */
    border: 3px solid rgb(16, 16, 16);
    border-radius: 40px;
    font-weight: bold;
}
#start-btn:hover, #language:hover {
    background-color: #d4af37; /* Darker gold on hover */
}

#status {
    margin-top: 20px;
    color: white;
}

#recognized-text,
#translated-text {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(19, 3, 246);
}
